@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.App {
  text-align: center;
}

.App {
  min-height: 100vh;
}

.App nav {
  height: 100vh;
  width: 100vw;
  padding-top: 30vh;
  background-color: var(--black);  
}

.App nav a {
  background-color: var(--white);
  width: 30vw;
  height: 70px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-content: center;

  font-family: var(--sans);
  color: var(--black);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
}

.App nav a:hover {
  background-color: var(--blue);
}

.App nav p {
  padding-top: 20px;
  
}

.App nav .title {
  font-family: var(--sans);
  color: var(--white);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  
}
