:root {
  --blue: #34ACE0;
  --white: #eee;
  --sans: 'Open Sans', sans-serif;
}

#Slider {
    min-height: 100vh;
    background-color: var(--white);
    padding-bottom: 50px;
}

#Slider .top_title {
    font-family: var(--sans);
    color: var(--black);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 2rem;
    padding: 50px 0 0 0;
}

#Slider .value_total {
    font-family: var(--sans);
    color: var(--black);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

#Slider header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--white);
    z-index: 3;
     padding-bottom: 20px; 
}